.code-sample{
    display: none;
}

p {
    padding-bottom: 15pt;
}

ol{
    counter-reset: myCounter;
}
ol li{
    list-style: none;
}

ul li{
    list-style: square;
}
ol li:before {
    counter-increment: myCounter;
    content:counter(myCounter);
    color: white;
    background: #2980B9;
    display: inline-block;
    text-align: center;
    margin: 5px 10px;
    line-height: 40px;
    width: 40px;
    height: 40px;
}

pre {
    margin-top: -30pt;
    margin-bottom: -30pt;
    padding-top: -30pt;
    padding-bottom: -30pt;
}

code {
    margin-top: -30pt;
    margin-bottom: -30pt;
    padding-top: -30pt;
    padding-bottom: -30pt;
}

.comparisonTable {
    width: 100%;
    border: 1px solid darkgray;
}

.comparisonTable tr {
    border: 1px solid darkgray;
}

.comparisonTable td {
    border: 1px solid darkgray;
    padding: 10px;
    width: 50%;
}

.comparisonTable .header {
    text-align: center;
}