<q>Проблемы <strong>сложного</strong> Javascript-приложения</q><br>
<pre>
<code data-language="javascript">
{
    '1': 'Плохая организация исходного кода',
    '2': 'Отсутствие MVC-подхода',
    '3': 'Лапшекод',
    '4': 'Расширение функционала',
    '5': 'Поддержка решения'
}
</code>
</pre>