<q>Общение с backend'ом</q>

<pre>
    <code data-language="javascript">
// Получение объекта с id = 1
var todoItemToFetch = new TodoItem({id: 1})
todoItem.fetch();
    </code>
</pre>

<a href = "#/step-11" id='demo-code-step-11-1'>
    Запуск кода
</a>

<pre>
    <code data-language="javascript">
// Обновление и сохранение объекта
todoItem.set({description: 'Pick up cookies.'});
todoItem.save();
    </code>
</pre>

<a href = "#/step-11" id='demo-code-step-11-2'>
    Запуск кода
</a>