<q>Итерация по элементам</q>

<pre>
    <code data-language="javascript">
todoList.forEach(function(todoItem){
   console.dir(todoItem.attributes);
});
    </code>
</pre>

<a href = "#/step-22" id='demo-code-step-22'>
    Запуск кода
</a>