<q>Взаимосвязь вида и модели</q>

<pre>
    <code data-language="javascript">
var TodoView = Backbone.View.extend({
    events: {'click': 'modelCommunication'},
    modelCommunication: function(){
        this.model.viewCommunication();
    }
});
var TodoItem = Backbone.Model.extend({
    viewCommunication: function(){
        console.log('Ссылка на модель сработала, вызван ее метод');
    }
});
    </code>
</pre>

<a href = "#/step-17" id='demo-code-step-17'>
    Запуск кода
</a>

<div id="slide-17-h3-place"></div>