<q>Значения по умолчанию</q>

<pre>
    <code data-language="javascript">
// Модель со значениями по умолчанию
var TodoItemDefVal = Backbone.Model.extend({
    defaults: {
        description: 'Default value',
        status: 'incomplete'
    }
});
    </code>
</pre>

<a href = "#/step-12" id='demo-code-step-12-1'>
    Запуск кода
</a>

<pre>
    <code data-language="javascript">
// Создание экземпляра со значениями по умолчанию
var todoItemDefVal = new TodoItemDefVal();
todoItemDefVal.get('description');
    </code>
</pre>

<a href = "#/step-12" id='demo-code-step-12-2'>
    Запуск кода
</a>