<q>События видов</q>

<pre>
    <code data-language="javascript">
var TodoView = Backbone.View.extend({
    events: {
        "click h3" : "alertStatus"
        "dblclick" : "open"
    },

    alertStatus: function(e){
        alert('Hey you clicked the h3!');
    }
});
    </code>
</pre>

<a href = "#/step-16" id='demo-code-step-16'>
    Запуск кода
</a>

<div id="slide-16-h3-place"></div>