<q>Создание вида</q>

<pre>
    <code data-language="javascript">
var TodoView = Backbone.View.extend({
    render: function(){
        var html = '<h3>' + this.model.get('description') + '</h3>';
        $(this.el).html(html);
    }
});
    </code>
</pre>

<a href = "#/step-8" id='demo-code-step-8'>
    Запуск кода
</a>