<q>Создание модели</q><br/>

<pre>
    <code data-language="javascript">
var TodoItem = Backbone.Model.extend({});

var todoItem = new TodoItem({
    description: 'Pick up milk',
    status: 'incomplete',
    id: 1
});
    </code>
</pre>


<a href = "#/step-5" id='demo-code-step-5'>
    Запуск кода
</a>