<q>Проблема навигации</q>

<pre>
    <code data-language="javascript">
<a href='#' class='todo'></a>

$('a.todo').on.click(function(e){
    e.preventDefault();
    // Вывод элемента на странице
});
    </code>
</pre>

При нажатии на кнопку "назад" браузера пользователя выкинет из нашего приложения
на предыдущую страницу