<q>Создание и основные методы</q>

<pre>
    <code data-language="javascript">
var TodoList = Backbone.Collection.extend({model:TodoItem})
var todoList = new TodoList();
//Добавление в коллекцию
todoList.add(todoItem1);
//Количество моделей в коллекции
todoList.length
//Получение модели с index 0
todoList.at(0);
//Получение модели с id=1
todoList.get(1);
//Удаление из коллекции
todoList.remove(todoItem1);
    </code>
</pre>

<a href = "#/step-19" id='demo-code-step-19'>
    Запуск кода
</a>