<q>События коллекций</q>

<pre>
    <code data-language="javascript">
todoList.on('change', function(todoItem){
    console.log('Изменения в коллекции:');
    console.log(todoItem.get(description));
    console.log(todoItem.get(value));
});

//Изменим одну из моделей
var obj = todoList.at(2);
obj.set({'description': 'Купить расходники', 'status': 'complete'});
    </code>
</pre>

<a href = "#/step-21" id='demo-code-step-21'>
    Запуск кода
</a>