<q>Работа с моделью</q>
<pre>
    <code data-language="javascript">
//Доступ к полю объекта
todoItem.get('description');
    </code>
</pre>

<a href = "#/step-6" id='demo-code-step-6-1'>
    Запуск кода
</a>

<pre>
      <code data-language="javascript">
//Установка атрибута объекта
todoItem.set({status: 'complete'});
      </code>
</pre>


<a href = "#/step-6" id='demo-code-step-6-2'>
    Запуск кода
</a>


