<q>Дополнительные параметры вида</q>

<pre>
    <code data-language="javascript">
// Назначим класс, id и тег для вида
var TodoViewAddParams = Backbone.View.extend({
    tagName: 'article',
    id: 'todo-view',
    className: 'todo'
});

var customizedView = new TodoViewAddParams();
    </code>
</pre>

<a href = "#/step-14" id='demo-code-step-14'>
    Запуск кода
</a>
