<q>События моделей</q>

<pre>
    <code data-language="javascript">
// Обработчик события изменения поля
todoItem.on('change:description', function(){
    console.log('Изменилось свойство description!');
});
    </code>
</pre>

<a href = "#/step-13" id='demo-code-step-13-1'>
    Запуск кода
</a>

<pre>
    <code data-language="javascript">
// Принудительное срабатывание события
todoItem.trigger('change:description');
    </code>
</pre>

<a href = "#/step-13" id='demo-code-step-13-2'>
    Запуск кода
</a>