<q>Шаблонизаторы</q>

<pre>
    <code data-language="javascript">
//Создадим шаблон для отображения модели
var TodoView = Backbone.View.extend({
    template: _.template('<h3><%= description %></h3>'),
    render: function(){
        var attributes = this.model.toJSON();
        this.$el.html(this.template(attributes));
    }
});

var customizedView = new TodoView({'model':'todoItem'});
    </code>
</pre>

<a href = "#/step-15" id='demo-code-step-15'>
    Запуск кода
</a>
