<q>Работа с видом</q>

<pre>
    <code data-language="javascript">
// Создание экземпляра вида
var todoView = new TodoView({ model: todoItem });
    </code>
</pre>

<a href = "#/step-9" id='demo-code-step-9-1'>
    Запуск кода
</a>

<pre>
    <code data-language="javascript">
// Рендер модели видом
todoView.render();
    </code>
</pre>

<a href = "#/step-9" id='demo-code-step-9-2'>
    Запуск кода
</a>