<q>Инициализация</q>

<pre>
    <code data-language="javascript">
var TodoRouter = Backbone.Router.extend({
    routes: {
        "": "index",
        "todos/:id": "show"
    },

...

    initialize: function(options){
        this.todoList = options.todoList;
    }
});
    </code>
</pre>
