<q>Структура приложения</q>

<pre>
    <code data-language="javascript">
var TodoApp = new (Backbone.Router.extend({
    routes: { "": "index", "todos/:id": "show" },
    initialize: function(){
        this.todoList = new TodoList();
        this.todosView = new TodoListView(
            {collection: this.todoList});
        $('#app').append(this.todosView.el);
    },
    start: function(){
        Backbone.history.start({pushState: true});
    },
}));

$(function(){ TodoApp.start() })

    </code>
</pre>
