<q>Инициализация коллекции</q>

<pre>
    <code data-language="javascript">
var todos = [
{desctiption: 'Выпрямить глушитель', status: 'incomplete'},
{desctiption: 'Регулировка замков', status: 'incomplete'},
{desctiption: 'Течь из КПП', status: 'incomplete'}
]

todoList.reset(todos);
    </code>
</pre>

<a href = "#/step-20" id='demo-code-step-20'>
    Запуск кода
</a>