<q>Преимущества MVC-фреймворков</q><br>
<pre>
<code data-language="javascript">
{
    '1': 'Организованная структура client-side кода',
    '2': 'Данные организуются в модели',
    '3': 'Внешний вид отображается представлениями',
    '4': 'Прозрачная синхронизация с backend-ом'
}
</code>
</pre>