<q># или /</q>

<pre>
    <code data-language="javascript">
// pushState off - url вида #todos/1
Backbone.history.start();
router.navigate("todos/1");

// pushState on - url вида /todos/1
Backbone.history.start({pushState: true});
router.navigate("todos/1");
    </code>
</pre>

<br>