<q>Решение проблемы навигации</q>

<pre>
    <code data-language="javascript">
var router = new Backbone.Router({
    routes: {'todos': index},
    index: function(){
        // Отображение контента страницы
    }
});
    </code>
</pre>

Теперь url вида '/todos' и '#todos' будут обрабатываться роутером

<br><br>

<a href = "#/step-26" id='demo-code-step-26'>
    Запуск кода
</a>