<q>Параметризованные маршруты</q>

<pre>
    <code data-language="javascript">
var Router = Backbone.Router.extend({
    routes: {
        'todos/:param': 'paramRouteHandler'
    },
    paramRouteHandler: function(param){
        console.log('Сработал обработчик параметризованного
        маршрута. Параметр: ' + param);
    },
    </code>
</pre>

<br>

<a href = "/#todos/param-pam-pam">
    Ссылка, обабатываемая роутером
</a>