<q>Вид для коллекции</q>

<pre>
    <code data-language="javascript">
var TodoListView = Backbone.View.extend({
    'render': function(){
        this.collection.forEach(this.addOne, this);
    },
    'addOne': function(todoItem){
        var todoView = new TodoView({'model': todoItem})
        todoView.render();
        this.el.append(todoView.el);
    }
});

var todoListView=new TodoListView({'collection':todoList});
todoListView.render();
    </code>
</pre>

<a href = "#/step-23" id='demo-code-step-23'>
    Запуск кода
</a>