<q><p>Python</p></q>

<p>Это высокоуровневый язык программирования общего назначения, ориентированный на повышение производительности разработчика и читаемости кода.</p>
<p>Синтаксис ядра Python минималистичен. В то же время стандартная библиотека включает большой объём полезных функций</p>