<q><p>map()</p></q>

<p>
    map() применяет переданную функцию к каждому элементу в переданном списке (списках) и возвращает список результатов
    (той же размерности, что и входной);
</p>

<pre>
	<code class="python">
def fahrenheit(T):
    return ((float(9)/5)*T + 32)

def celsius(T):
    return (float(5)/9)*(T-32)

temp = (36.5, 37, 37.5,39)

F = map(fahrenheit, temp)
C = map(celsius, F)
	</code>
</pre>