<q><p>Функтор</p></q>

<p>Напишите функтор, определяющий, является ли переданное в него число простым.</p>

<script type="text/javascript">
    $(document).ready(function() {
        $('pre code').each(function(i, block) {
            hljs.highlightBlock(block);
        });
    });
</script>