<q><p>Стандартные модули</p></q>

Один конкретный модуль заслуживает большого внимания

<pre>
	<code class="python">
>>> import sys
>>> dir(sys)
['__displayhook__', '__doc__', '__excepthook__',
'__name__', '__stderr__', '__stdin__', '__stdout__',
'_getframe','api_version', 'argv','builtin_module_names',
'byteorder', 'callstats', 'copyright','displayhook',
'exc_clear', 'exc_info', 'exc_type', 'excepthook',
'exec_prefix', 'executable', 'exit', 'getdefaultencoding',
'getdlopenflags','getrecursionlimit', 'getrefcount',
'hexversion', 'maxint', 'maxunicode','meta_path',
'modules', 'path', 'path_hooks', 'path_importer_cache',
'platform', 'prefix', 'ps1', 'ps2', 'setcheckinterval',
'setdlopenflags','setprofile', 'setrecursionlimit', ...]
	</code>
</pre>

