<q><p>Словари</p></q>

<pre>
	<code class="python">
dict = {
    'spiderman': 'Piter Parker',
    'ironman': 'Tony Stark',
    'batman': 'Bruce Wayne'
}

print dict
# {'spiderman': 'Piter Parker','ironman': 'Tony Stark',
# 'batman': 'Bruce Wayne'}

print dict['spiderman']
# Piter Parker

print dict.keys()
# ['spiderman', 'ironman', 'batman']
	</code>
</pre>