<q><p>Чтение строк из файла</p></q>

<pre>
	<code class="python">
>>> f.read()
#'Это всё содержимое файла.\n'

>>> f.readline()
#'Первая строка файла.\n'
>>> f.readline()
#'Вторая строка файла\n'

>>> f.readlines()
#['Первая строка файла.\n', 'Вторая строка файла\n']

for line in f:
    print line,
#Это первая строка файла.
#Вторая строка файла
	</code>
</pre>