<q><p>Задание 5-2</p></q>

Класс кнопки для вас готов:

<pre>
	<code class="python">

class Button:
    def __init__(self, pos, key):
        self.pos = pos
        self.key = key
        self.pressed = 0

	</code>
</pre>

Продолжение на следующем слайде