<q><p>Codding style</p></q>

<ol>
    <li>Используйте отступ в 4 пробела, а не табуляцию</li>
    <li>Длина строки по возможности не больше 79 символов</li>
    <li>Используйте пустые строки для отделения функций, классов, и крупных блоков внутри функций</li>
    <li>Располагайте комментарий на отдельной строке</li>
    <li>Используйте строки документации (док-строки)</li>
    <li>Применяйте пробелы вокруг операторов и после запятых, но не добавляйте их в конструкции со скобками</li>
    <li>Используйте CamelCase для именования классов и нижний_регистр_с_подчёркиваниями для функций и методов</li>
    <li>Не используйте в вашем коде изощрённых кодировок</li>
</ol>