<q><p>Задание 5-1</p></q>

Реализуйте класс клавиатуры Keyboard, который сможет работать следующим образом:

<pre>
	<code class="python">

>>> b1 = Button(0, "H")
>>> b2 = Button(1, "I")
>>> k = Keyboard(b1, b2)
>>> k.buttons[0].key    # 'H'
>>> k.press(1)          # 'I'
>>> k.typing([0, 1])    # 'HI'
>>> k.typing([1, 0])    # 'IH'
>>> b1.pressed          # 2
>>> b2.pressed          # 3

	</code>
</pre>

Продолжение на следующем слайде