<q><p>Трансформация императивного кода</p></q>

<pre>
	<code class="python">
def factorial( n ):
    if n == 1: return 1
else: return n * factorial( n - 1 )

# Преобразование
factorial = lambda x: (( x == 1) and 1) or x * factorial(x - 1)
	</code>
</pre>