<q><p>Чтение и запись файлов</p></q>

<pre>
	<code class="python">
>>> f = open('/tmp/workfile', 'w')
>>> print f
# open file '/tmp/workfile', mode 'w' at 80a0960

	</code>
</pre>

'r' - только для чтения<br>
'a' - для добавления<br>
'w' - только для записи<br>
'r+' - для чтения и записи<br>