<q><p>Кортежи</p></q>

<pre>
	<code class="python">
tuple = 'Винни Пух', 'Кролик', 12
print tuple         # ('Винни Пух', 'Кролик', 12)
print tuple[0]      # Винни Пух

u = tuple, ('Мед', 'Морковка', 'Хвост')
print u
#(('Винни Пух', 'Кролик', 12), ('Мед', 'Морковка', 'Хвост'))

empty = ()
print empty         # ()
print len(empty)    # 0
	</code>
</pre>