<q><p>Камень-ножницы-бумага</p></q>
<pre><code>
Начинаем игру "Камень-ножницы-бумага"!

Введите количество попыток: 3

Выберите (К)амень, (Н)ожницы, (Б)умага? к
Вы: камень    Компьютер: бумага      Компьютер победил!
Счёт: Вы 0   Компьютер 1

Выберите (К)амень, (Н)ожницы, (Б)умага? к
Вы: камень    Компьютер: ножницы     Вы победили!
Счёт: Вы 0   Компьютер 1
</code></pre>