<q><p>Задание 2-1</p></q>

<p>У вас в наличии есть класс:</p>

<pre>
	<code class="python">
class Person(object):
    def __init__(self, name):
        self.name = name
    def say(self, stuff):
        return stuff
    def ask(self, stuff):
        return self.say("Would you please " + stuff)
    def greet(self):
        return self.say("Hello, my name is " + self.name)
	</code>
</pre>

<p>Добавьте в этому классу метод repeat, который будет повторять последнюю фразу, сказанную объектом. Пример работы смотрите на следующем слайде. </p>