<q><p>Закрытие и сериализация</p></q>

<pre>
	<code class="python">
# Закончили работу - закрыли файл
f.close()

# Чтоб не заботится о закрытии, можно писать так
with open('/tmp/workfile', 'r') as f:
    read_data = f.read()

# Модуль pickle
# Сохраняем объект x в файл f
pickle.dump(x, f)

#Восстанавливаем объект
x = pickle.load(f)
	</code>
</pre>