<q><p>Применение</p></q>

<p>
    Наиболее частое действие, выполняемое с функциональными объектами, — передача их во встроенные
    функции высшего порядка: <b>map()</b>, <b>reduce()</b> и <b>filter()</b>.
    Каждая из этих функций принимает объект функции в качестве своего первого аргумента.
</p>