<q><p>Функтор</p></q>

<p>
    Функтор — это не функция, а объект класса, в котором определён метод с именем __call__().
    При этом, для экземпляра такого объекта может применяться вызов, точно так же, как это происходит для функций.
</p>

<pre>
	<code class="python">
class mulFunctor:
    def __init__( self, val1 ):
        self.val1 = val1
    def __call__( self, val2 ):
        return self.val1 * val2

fun3 = mulFunctor( 3 )
# 15
	</code>
</pre>