<q><p>Конвертер температур</p></q>

<p>
    Реализуйте конвертер температур из градусов Цельсия в градусы Фаренгейта и обратно. При старте программа должна
    на первом шаге запрашивать у пользователя ввод темпертуры, а на втором шаге спрашивать, в значения какую шкалу
    это значение перевести.
</p>

<p>
    Пример:<br><br>
    <b>Конвертер температур</b><br><br>

    Введите температуру: <b>20</b><br>
    Преобразовать в градусы (Ф, F)аренгейта или (Ц, C)ельсия? <b>Ф</b><br><br>

    20 C = 68 F
</p>