<q><p>reduce()</p></q>

<p>
    При помощи функции reduce() выведите сумму всех четных чисел из списка, Например, для списка [2, 3, 4, 5, 6]
    результат будет 2 + 4 + 6 = 12
</p>

<pre>
	<code class="python">

	</code>
</pre>