<q><p>Строки</p></q>

<pre>
	<code class="python">
multiLine = '''
        Многострочная
        Строка
        '''
print 'Ам' + 3*'-ням'   #Ам-ням-ням-ням

word = 'Python'
print word[0]       # P
print word[-1]      # n
print word[0:3]     # Pyt
print word[0:-1]    # Pytho
print word[-5:-1]   # ytho
print word[-1:]     # n
print word[:4]      # Pyth
print word[3:]      # hon
    </code>
</pre>