<q><p>Еще о списках</p></q>

<pre>
	<code class="python">
list.pop()
print list                  # [1, 2, 3, 4, '#', 4, 5, 6, 'x', 99, 98]

print list.index('#')       # 4

print list.count(4)         # 2

list.sort()
print list                  # [1, 2, 3, 4, 4, 5, 6, 98, 99, '#', 'x']

list.reverse()
print list                  # ['x', '#', 99, 98, 6, 5, 4, 4, 3, 2, 1]

del(list[-5:-1])
print list                  # ['x', '#', 99, 98, 6, 5, 1]
    </code>
</pre>