<q><p>Continue</p></q>

<pre>
	<code class="python">
for i in range(1, 25):
    if i % 2 == 0:
        print 'Четное число ' + str(i)
        continue
    else:
        print 'Нечетное число ' + str(i)
	</code>
</pre>