<q><p>Наследование</p></q>

<pre>
	<code class="python">
class Parent:
    def vr(self):
        print('123')
    vr = 'overriden'
    def callMe(self):
        print('Alarm!')

class Child (Parent):
    def vr2(self):
        print 'I am from class test2'
    def callMe(self):
        Parent.callMe(self)

ch = Child()
ch.callMe() # 'Alarm!'
	</code>
</pre>