<q><p>reduce()</p></q>

<p>
    <b>reduce()</b> применяет переданную функцию к каждому значению в списке и ко внутреннему накопителю результата,
</p>

<img src = 'http://www.python-course.eu/images/reduce_diagram.png'/>

<pre>
	<code class="python">
>>> reduce(lambda x,y: x+y, [47,11,42,13])
113

# 10!(факториал)
result = reduce( lambda n,m: n * m, range( 1, 10 ) )
	</code>
</pre>