<q><p>filter()</p></q>

<p>
    <b>filter()</b> применяет переданную функцию к каждому элементу списка и возвращает список тех элементов исходного списка,
    для которых переданная функция вернула значение истинности.
</p>

<pre>
	<code class="python">
>>> fib = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
>>> result = filter(lambda x: x % 2, fib)
>>> print result
[1, 1, 3, 5, 13, 21, 55]
>>> result = filter(lambda x: x % 2 == 0, fib)
>>> print result
[0, 2, 8, 34]
	</code>
</pre>