<q><p>Python 2.x и Python 3</p></q>

<table class="comparisonTable">
    <thead>
    <tr class="header">
        <td>Python 2.7</td>
        <td>Python 3</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <p>Допустимо сравнение строк и чисел, причем строка всегда больше числа. Это может вызвать логические ошибки при работе программы</p>
            <pre>
	            <code class="python">
print(3>5)
# False

print('3'>5)
# True
                </code>
            </pre>
        </td>
        <td>
            <p>При сравнении двух разных типов данных выполнение программы завершится с ошибкой</p>
        </td>
    </tr>
    </tbody>
</table>

