<q><p>Замыкание</p></q>

<pre>
	<code class="python">
n = 3
def mult( k, mul = n ):
    return mul * k

n = 7
print( mult( 3 ) )
n = 13
print( mult( 5 ) )

n = 10
mult = lambda k, mul=n: mul * k
print( mult( 3 ) )
	</code>
</pre>