<q><p>Кортежи</p></q>

<pre>
	<code class="python">
single = 'Совсем один',
print single        #('Совсем один',)
print len(single)   # 1

del(tuple[0])
'''
Traceback (most recent call last):
File "<stdin>", line 16, in <module>
TypeError: 'tuple' object doesn't support item deletion
'''
	</code>
</pre>