<q><p>Замечания</p></q>

<ol>
    <li>Атрибуты-данные переопределяют атрибуты-методы с тем же именем</li>
    <li>Клиенты могут добавлять собственные атрибуты-данные к объектам-экземплярам.</li>
    <li>У методов нет краткой записи для ссылок изнутри на атрибуты-данные</li>
</ol>

<pre>
	<code class="python">
class Bag:
    def __init__(self):
        self.data = []
    def add(self, x):
        self.data.append(x)
    def addtwice(self, x):
        self.add(x)
        self.add(x)
    </code>
</pre>
