<q><p>Списки</p></q>

<pre>
	<code class="python">
myList = [1,2,3]
myList.append(4)    #[1, 2, 3, 4]
myList.append(5)    #[1, 2, 3, 4, 5]

print(myList[0])    # 1

# Перебор элементов списка
for x in myList:
    print x

print (myList[:3])  #[1, 2, 3]
print myList + ['два', True]    #[1, 2, 3, 4, 5, 'два', True]
myList[0] = 'один'  #['один', 2, 3, 4, 5]
print len(myList)   #5
    </code>
</pre>