<q><p>Объекты-экземпляры и объекты-методы</p></q>

<pre>
	<code class="python">
class MyClass:
    i = 12345
    def f(self):
        return 'привет мир'

x = myClass()
x.counter = 1
while x.counter < 10:
    x.counter = x.counter * 2

print x.counter

while True:
    print x.f()
	</code>
</pre>