<q><p>Задание 5-3</p></q>

<pre>
	<code class="python">
class Keyboard:
    def __init__(self, *args):
    "*** Ваш код ***"

    def press(self, info):
    """Принимаем на вход порядковый номер кнопки
        И выводим ее значение"""


    def typing(self, typing_input):
    """Принимаем на вход список порядковых
       номеров нажатых кнопок и выводим
       соответствующий список значений"""
        </code>
</pre>

