<q><p>Еще один пример</p></q>

<pre>
	<code class="python">
print ( [ ( x,y ) for x in ( 1, 2, 3, 4, 5 ) \
                    for y in ( 20, 15, 10 ) \
                    if x * y > 25 and x + y < 25 ] )
	</code>
</pre>