<p><q>Функциональное программирование</q></p>


<p>
    <b>Функциональное программирование</b> предлагает обходиться вычислением результатов функций от исходных данных и
    результатов других функций, и не предполагает явного хранения состояния программы.
</p>

<p>
    Соответственно, не предполагает оно и изменяемость этого состояния.
</p>

<p>
    <b>λ-исчисления</b> являются основой для функционального программирования, многие функциональные языки можно рассматривать
    как «надстройку» над ними
</p>