<q><p>Еще о списках</p></q>

<pre>
	<code class="python">
list = [1,2,3,4,4,4,5,6]

list.append('x')
print list              # [1, 2, 3, 4, 4, 4, 5, 6, 'x']

list.extend([99, 98, 97])
print list              # [1, 2, 3, 4, 4, 4, 5, 6, 'x', 99, 98, 97]

list.insert(5, '#')
print list              # [1, 2, 3, 4, 4, '#', 4, 5, 6, 'x', 99, 98, 97]

list.remove(4)
print list              # [1, 2, 3, 4, '#', 4, 5, 6, 'x', 99, 98, 97]
	</code>
</pre>