<q><p>map()</p></q>

<pre>
	<code class="python">
>>> Celsius = [39.2, 36.5, 37.3, 37.8]
>>> Fahrenheit = map(lambda x:(float(9)/5)*x + 32, Celsius)
>>> print Fahrenheit
# [102.56, 97.70000, 99.14000000, 100.0399999]
	</code>
</pre>