<q><p>Преимущества</p></q>

<p>
    Основным преимуществом функционального программирования является то, что после однократной отладки такого фрагмента
    кода в нём при последующем многократном использовании не возникнут ошибки за счёт побочных эффектов,
    связанных с присвоениями и конфликтом имён.
</p>