<q><p>Python 2.x и Python 3</p></q>

<table class="comparisonTable">
    <thead>
    <tr class="header">
        <td>Python 2.7</td>
        <td>Python 3</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <p><b>raw_input()</b> автоматически преобразует входные данные в строку.</p>
            <p><b>input()</b> попробует сам определить тип входных данных, что ненадежно</p>
            <pre>
	            <code class="python">
a = raw_input('Anything:')
print(a)

a = input('Sometimes: ')
print(a)
                </code>
            </pre>
        </td>
        <td>
            <p>Единственный метод <b>input()</b>, который работает аналогично raw_input() в Python 2.7</p>
            <pre>
                <code class="python">
a = input('Anything:')
                </code>
            </pre>
        </td>
    </tr>
    </tbody>
</table>

