<q><p>Угадайка</p></q>

<p>
    Компьютер выбирает любое число от 1 до 100. Пользователь должен угадать, какое число выбрал компьютер. <br><br>
    Программа запрашивает ввод значений у пользователя до тех пор, пока он не угадает верный ответ. <br><br>
    После каждой попытки она дает подсказку, больше или меньше относительно загаданного введенное игроком число. <br><br>
    Если пользователь угадал число, вывести количество попыток, за которое он достиг результата. <br><br>
</p>