<q><p>Задание 3-2</p></q>

<pre>
	<code class="python">
>>> a = Account("Billy")
>>> a.balance
>>> c = CheckingAccount("Eric")
>>> c.balance
>>> a.deposit(30)
>>> c.deposit(30)
>>> c.interest
	</code>
</pre>

