<q><p>if-elif-else</p></q>

<pre>
	<code class="python">
x = 100
if x < 0:
    x = 0
    print 'Отрицательные числа нам не нужны'
elif x == 0:
    print 'Нуль'
elif x == 1:
    print 'Один'
else:
    print 'Больше, чем 1'
	</code>
</pre>