<q><p>Множества(наборы)</p></q>

<pre>
	<code class="python">
word1 = 'abracadabra'
a = set(word)
print a     # set(['a', 'r', 'b', 'c', 'd'])

word2 = 'alacazan'
b = set(word2)
print b     # set(['a', 'c', 'z', 'l', 'n'])

print a & b     # set(['a', 'c'])
print a | b     # set(['a', 'c', 'b', 'd', 'l', 'n', 'r', 'z'])
print a-b       # set(['r', 'b', 'd'])
print a^b       # set(['b', 'd', 'l', 'n', 'r', 'z'])
	</code>
</pre>