<q><p>Задание 4</p></q>

Реализуйте класс банковского счета Account, который сможет работать следующим образом:

<pre>
	<code class="python">

>>> eric_account = Account('Eric')
>>> eric_account.deposit(1000000)
1000000
>>> eric_account.transactions
[('deposit', 1000000)]
>>> eric_account.withdraw(100)
999900
>>> eric_account.transactions
[('deposit', 1000000), ('withdraw', 100)]
	</code>
</pre>