<q><p>Трансформация императивного кода</p></q>

<pre>
	<code class="python">
if condition:
    expression_1()
else:
    expression_2()

# Преобразование
lambda: (condition and expression_1()) or (expression_2())

	</code>
</pre>