<q><p>Кредитный калькулятор</p></q>

<p>
    Напишите программу, которая будет рассчитывать ежемесячные выплаты пользователя по кредиту
    в зависимости от исходных данных.
</p>
<p>
    На вход программа получает сумму, взятую в долг, процентрую ставку и длительность кредита в годах
</p>
<p>
    Общая сумма кредита
    рассчитывается по формуле: <br>
    <b>I = P × R × T</b><br>
    <b>I</b> - Cумма возврата<br>
    <b>P</b> - Сумма, взятая в долг<br>
    <b>R</b> - Процентная стравка<br>
    <b>T</b> - Срок кредита в годах<br>
</p>