<q><p>Значения по умолчанию</p></q>

<pre>
	<code class="python">
def ask_ok(prompt, retries=4):
    while retries >= 0:
        ok = raw_input(prompt)
        if ok in ('y', 'ye', 'yes'):
            print('А тебя легко уговорить :-)')
            break
        elif ok in ('n', 'no', 'nope'):
            if retries == 0:
                print 'Ой, всё!'
                break
            print ('Хорошенько подумай...')
            retries = retries - 1
        if retries == 0:
            print "Последний шанс!"
	</code>
</pre>