<q><p>Строки</p></q>

<pre>
	<code class="python">
myString = 'hello' # строки неизменяемы
myString = "hello"

myString = "Строка \"с\" 'апострофами' "

one = 1
two = 2
print one + two    #3

str1 = "hello"
str2 = "world"
print str1 + ' ' + str2     #hello world

print 'First line.\n Second line. \t tabulation'
    </code>
</pre>