<q><p>Диапазоны</p></q>

Функция <b>range()</b> генерирует список, содержащий арифметическую последовательность чисел.

<pre>
	<code class="python">

print(range(10))
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

print(range(5, 10))
# [5, 6, 7, 8, 9]

print(range(2, 25, 5))
# [5, 10, 15, 20]
	</code>
</pre>