<q><p>Запуск модуля</p></q>

Если добавить в модель следующий код, то его возможно будет запускать отдельно.
<pre>
	<code class="python">

if __name__ == "__main__":
    import sys
    fib(int(sys.argv[1]))

	</code>
</pre>

После этого запустить модуль можно как обычный файл. Таким образом модули легко тестировать.
<pre>
	<code class="python">

>>> python fibo.py 50
1 1 2 3 5 8 13 21 34
    </code>
</pre>