<q><p>Python 2.x и Python 3</p></q>

<table class="comparisonTable">
    <thead>
        <tr class="header">
            <td>Python 2.7</td>
            <td>Python 3</td>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <p>Деление возвращает тип float, если один из аргументов этого типа</p>
            <pre>
	            <code class="python">
4.0 / 2
# Вернет 2.0

5 / 2
# Вернет 2

result = float(5) / 2
# Вернет 2.5
                </code>
            </pre>
        </td>
        <td>
            <p>Деление всегда возвращает тип float</p>
            <pre>
                <code class="python">
4 / 2
# Вернет 2.0

5 / 2
# Вернет 2.5

5 // 2
# Вернет 2

                </code>
            </pre>
        </td>
    </tr>
    </tbody>
</table>

