<q><p>Задание 1-1</p></q>

<p>Изучите код и разберитесь, что и почему он выводит. Код, со следующего слайда вводите построчно в терминале после запуска программы</p>

<pre>
	<code class="python">
class Account(object):
    interest = 0.02
    def __init__(self, account_holder):
        self.balance = 0
        self.holder = account_holder
    def deposit(self, amount):
        self.balance = self.balance + amount
        print("Yes!")
	</code>
</pre>