<q><p>Множества(Наборы)</p></q>

<pre>
	<code class="python">
basket = ['apple','orange','apple','pear','orange','banana']

fruit = set(basket)
print fruit     #set(['orange', 'pear', 'apple', 'banana'])

print 'orange' in fruit     #True
print 'cucumber' in fruit   #False
	</code>
</pre>