<q><p>Объявление</p></q>

<pre>
	<code class="python">
def sum(n):
    res = 0
    for i in range (n+1):
        res = res + i
        print 'i = ' + str(i) + ' res = ' + str(res)
    return res

print(sum(5)) # 15
	</code>
</pre>