<q><p>Словари</p></q>

<pre>
	<code class="python">
dict['batman'] = 'Harley Queen'
print dict
# {'spiderman': 'Piter Parker', 'ironman': 'Tony Stark',
# 'batman': 'Harley Queen'}

del(dict['batman'])
print dict
# {'spiderman': 'Piter Parker', 'ironman': 'Tony Stark'}

for k, v in dict.iteritems():
    print strk + ' -> ' + v
# spiderman -> Piter Parker
# ironman -> Tony Stark
	</code>
</pre>