<q><p>Запись в файл</p></q>

<pre>
	<code class="python">
f.write('Это текст\n')

# Не забываем о преобразовании типов
value = ('ответ', 42)
s = str(value)
f.write(s)

f = open('/tmp/workfile', 'r+')
f.write('0123456789abcdef')
f.seek(5)   # Перейти к шестому байту в файле
f.read(1)   #'5'
f.seek(-3, 2) # Перейти к третьему байту с конца
f.read(1)   # 'd'
	</code>
</pre>