<q><p>Високосный календарь</p></q>

<p>
    Год високосный, если он делится на четыре без остатка. <br>
    Но если он делится на 100 без остатка, это не високосный год. <br>
    Однако, если он делится без остатка на 400, это високосный год <br><br>

    Напишите программу, которая принимает от пользователя год, и выводит в ответ, является ли он високосным.<br><br>

    Например, 1992, 1996 и 2000 года - високосные, а 1993 и 1900 - нет.
</p>