<q><p>Python 2.x и Python 3</p></q>

<table class="comparisonTable">
    <thead>
    <tr class="header">
        <td>Python 2.7</td>
        <td>Python 3</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <p><b>print</b> является оператором</p>
            <pre>
	            <code class="python">
print 1+2
# 3

print (1,2)
# (1,2)

print 1,2
# 1 2
                </code>
            </pre>
        </td>
        <td>
            <p><b>print()</b> является функцией и всегда используется с круглыми скобками</p>
        </td>
    </tr>
    </tbody>
</table>

<br>
<a href="https://docs.python.org/3/whatsnew/3.0.html" target="_blank">Полный список отличий</a>