<q><p>Замыкание</p></q>

<p>
    Замыкание - это процедура вместе с привязанной к ней совокупностью данных
</p>

<p>
    Смысл замыкания состоит в том, что определение функции "замораживает" окружающий её контекст на момент определения.
    Это может делаться различными способами, например, за счёт параметризации создания функции
</p>
