<q><p>Задание 1-2</p></q>

<pre>
	<code class="python">
>>> a = Account("Billy")
>>> a.account_holder
>>> a.holder
>>> Account.holder
>>> Account.interest
>>> a.interest
>>> Account.interest = 0.03
>>> a.interest
>>> a.deposit(1000)
>>> a.balance
>>> a.interest = 9001
>>> Account.interest
	</code>
</pre>