<q><p>Функции в Python</p></q>

<pre>
	<code class="python">
#!/usr/bin/python
# -*- coding: utf-8 -*-
import sys

def show( fun, arg ):
    print( '{} : {}'.format( type( fun ), fun ) )
    print( 'arg={} => fun( arg )={}'.format( arg, fun( arg ) ) )

if len( sys.argv ) > 1:
    n = float( sys.argv[ 1 ] )
else:
    n = float( input( "число?: " ) )
	</code>
</pre>