<q><p>map()</p></q>

<pre>
	<code class="python">
>>> a = [1, 2, 3, 4]
>>> b = [17, 12, 11, 10]
>>> c = [-1, -4, 5, 9]
>>> map(lambda x, y: x + y, a, b)
[18, 14, 14, 14]
>>> map(lambda x, y, z: x + y + z, a, b, c)
[17, 10, 19, 23]
	</code>
</pre>