<q><p>ТруЪ ФП</p></q>

<pre>
	<code class="python">
from sys import *

print( 'вычисленный факториал = {}'.format( \
    (lambda z: reduce(lambda x, y: x * y, range(1, z + 1))) \
        ((lambda : (len(argv) > 1 and int(argv[ 1 ])) or \
            int( input( "число?: ")))())))
	</code>
</pre>