<q><p>Функции в Python</p></q>

<pre>
	<code class="python">
# 1-е определение функции
def pow3( n ):
    return n * n * n
show( pow3, n )

# 2-е определение функции с тем же именем
pow3 = lambda n: n * n * n
show( pow3, n )

# 3-е, использование анонимного описание функции
show( ( lambda n: n * n * n ), n )
	</code>
</pre>