<q><p>Лямбда-исчисление</p></q>

<p>
    В 1930-х гг. Алонзо Чёрч (Alonzo Church), Алан Тьюринг (Alan Turing), Джон фон Нейман (John von Neumann) и
    Курт Гёдель (Kurt Gödel) разработали формальную систему названную Лямбда-исчислением.
</p>

<p>
    Система по сути была языком программирования для одной из воображаемых машин с бесконечными вычислительными
    возможностями. Она была основана на функциях, которые принимают в качестве аргументов функции, и возвращают функцию.
</p>