<q><p>Использование модуля</p></q>

<p>Войдите в интерпретатор Python и импортируйте этот модуль следующей командой:</p>

<pre>
	<code class="python">
import fibo

	</code>
</pre>

<p>Теперь обращаться к функциям внутри модуля можно следующим образом:</p>
<pre>
	<code class="python">
>>> fibo.fib(1000)
1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987
>>> fibo.fib2(100)
[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
>>> fibo.__name__
'fibo'
    </code>
</pre>