<q><p>Синтаксис</p></q>

<pre>
	<code class="python">
class MyClass:
"""Простой пример класса"""
    # Поле класса
    i = 12345
    # Конструктор класса
    def __init__(self, param1, param2):
        self.param1 = param1
        self.param2 = param2
    # Метод класса
    def f(self):
        return 'hello world'

X = myClass()
	</code>
</pre>