<q><p>map()</p></q>

<p>
    Используя функцию map(), напишите код, который будет перемножать соответствующие элементы двух списков.
    Например,
</p>

<pre>
	<code class="python">
>>> list1 = [7, 2, 3, 10, 12]
>>> list2 = [-1, 1, -5, 4, 6]
>>> ... # ваша функция
>>> [-7, 2, -15, 40, 72]
    </code>
</pre>