<q><p>Форматированный вывод</p></q>
<pre>
	<code class="python">
>>> print '{0} и {1}'.format('фарш', 'овощи')
#фарш и овощи
>>> print '{1} и {0}'.format('фарш', 'овощи')
#овощи и фарш

>>> print 'Этот {food} — {adjective}.'.format(
...       food='фарш', adjective='непередаваемо ужасен')
#Этот фарш — непередаваемо ужасен.

>>> print 'История о {0}е, {1}е, и {other}е.'.format(
'Билл', 'Манфред', other='Георг')
#История о Билле, Манфреде, и Георге.
	</code>
</pre>