<q><p>Интерпретаторы Python 2.7</p></q>

<ol>
    <li>
        <b>Ubuntu:</b> sudo apt-get install python2.7
    </li>
    <li>
        <a target="_blank" href="https://www.python.org/download/releases/2.7.7/">Windows 2.7</a>
    </li>
    <li>
        <a target="_blank" href="http://repl.it/languages/python">Онлайн-интерпретатор</a>
    </li>
</ol>