<q><p>Замыкание</p></q>

<pre>
	<code class="python">
# multiplier возвращает функцию умножения на n
def multiplier( n ):
    def mul( k ):
        return n * k
    return mul

# mul3 - функция, умножающая на 3
mul3 = multiplier( 3 )
print( mul3( 3 ), mul3( 5 ) )
    </code>
</pre>