<q><p>Задание 2</p></q>

Вам дана строка. Напишите функцию, которая будет проходить по строке, склеивая первый символ слева с первым символом справа и добавит к этой паре "1", затем второй символ слева и второй символ справа и добавит к ним "2" и так далее. Если количество символов в строке нечетно, то центральный символ отбрасывается. Например:

<pre>
	<code class="python">

charConcat("abcdef")    #'af1be2cd3'
charConcat("abc!def")   #'af1be2cd3'
	</code>
</pre>