<q><p>Задание 3</p></q>
Напишите класс <b>Calculator</b>, содержащий метод <b>average()</b>,
возвращающий среднее арифметическое переданного в него массива чисел
<pre>
	<code class="python">

	</code>
</pre>