<q><p>Задание 3</p></q>

Вес бутылки вместе с ее содержимым составляет 120 грамм. При этом известно, что вес содержимого в 2 раза больше веса самой бутылки. Чему равен вес содержимого? Напишите функцию, на вход которой подаются общий вес бутылки и условие определение веса содержимого в виде строки. Условие имеет следующий вид:
'2 times larger', '4 times larger', '50 times smaller' и т.д. 'larger', 'smaller' - единственные возможные ключевые слова. Функция должна возвращать вес содержимого бутылки. Также сделайте в своей программе проверку корректности вашего решения.

<pre>
	<code class="python">

bottle(120, '2 times larger');
	</code>
</pre>