<q><p>Задание 5</p></q>

<p>
    Напишите функцию, которая отфильтровывает строки из переданных в нее списков и возвращает список из чисел,
    содержавшихся в исходном списке
</p>

<pre>
	<code class="javascript">
filter_list([1,2,'a','b']) == [1,2]
filter_list([1,'a','b',0,15]) == [1,0,15]
filter_list([1,2,'aasf','1','123',123]) == [1,2,123]
	</code>
</pre>