<q><p>Задание 2</p></q>

<p>
    Напишите функцию, которая находит количество положительных делителей переданного в нее целого числа
</p>

<pre>
	<code class="javascript">
getDivisorsCnt(1) // => 1);
getDivisorsCnt(10) // => 4);
getDivisorsCnt(11) // => 2);
getDivisorsCnt(54) // => 8);
    </code>
</pre>