<q><p>Задание 1</p></q>
Напишите функцию <b>maskify()</b>, которая будет подменять переданную ей строку знаками
<b>#</b> за исключением последних четырех символов. Например:

<pre>
	<code class="python">

maskify("4556364607935616") # "############5616"
maskify(     "64607935616") #      "#######5616"
maskify(               "1") #                "1"
maskify(                "") #                 ""
	</code>
</pre>