<q><p>Задание 6</p></q>

<p>
    У преподавателя в классе <b>n</b> студентов. Он хочет, чтобы в следующем семесте каждый студент мог поработать в паре
    со всеми остальными студентами в рамках научных проектов. помогите преподавателю подсчитать, сколько уникальных пар
    из <b>n</b> студентов он может собрать.
</p>