<q><p>Задание 2</p></q>
Добавьте новый метод к системному классу String, который вызывал бы встроенный
в этот класс и уже существующий метод toUpperCase(). Например:
<pre>
	<code class="python">

"abc".myNewMethod();    # 'ABC'
	</code>
</pre>