<q><p>Задание 5</p></q>

На вход вашей программе будет передаваться словарь, имеющий синтаксис на языке Python. Напишите функцию, которая будет сортировать этот словарь по значению от большего к меньшему. Функция должна возвращать двумерный массив, сожержащий отсортированные по значению пары [ключ, значение] Например:

<pre>
	<code class="python">

sortDict({1:2,2:4,3:6})     #[[3,6],[2,4],[1,2]]
	</code>
</pre>