<q><p>Задание 5</p></q>
Напишите функцию, которая проверяет, является ли переданная в нее строка числом, и
если да, выведите на экран все цифры этой строки в виде массива. Например:

<pre>
	<code class="python">

123     # [1,2,3]
1       # [1]
8675309 # [8,6,7,5,3,0,9]
	</code>
</pre>

<script type="text/javascript">
    $(document).ready(function() {
        $('pre code').each(function(i, block) {
            hljs.highlightBlock(block);
        });
    });
</script>