<q><p>Задание 1</p></q>

<p>
    Напишите функцию, которая будет проверять, является ли переданное ей число квадратным, то есть являющимся квадратом некоторого целого числа. Функция должна
    возвращать true или false. Пример работы:
</p>

<pre>
	<code class="javascript">
isSquare(-1) // => false
isSquare( 3) // => false
isSquare( 4) // => true
isSquare(25) // => true
isSquare(26) // => false
	</code>
</pre>