<q><p>Задание 1</p></q>

Напишите функцию, которая будет определять является ли переданный ей почтовый код валидным почтовым кодом России. Валидный почтовый код может состоять только из 6 цифр.
Помните, что он не может начинаться с 0, 5, 7, 8, 9