<q><p>Задание 4</p></q>

<p>
    Реализуйте базовый калькулятор. Напишите функцию <b>calculate()</b>, которая принимает три аргумента. первый и
    второй аргументы - числа, третий - операция над ними. Если какой-то параметр неверен, функция должна возвращать null
</p>
