<q><p>Задание 4</p></q>
Создайте класс телефонной книги, которая хранит в себе список объектов.
Каждый объект имеет следующий вид:

<pre>
	<code class="python">
{name:'SomeName', phoneNumber:1234567890}
	</code>
</pre>

Реализуйте метод add() для этого класса, который добавляет в список существующих
объектов новый объект только в том случае, если переданный в нем номер телефона
не присутствует в книге.