<q><p>Задание 7</p></q>

В музыке каждая нота именуется согласно ее высотному классу ( C, E♭, F♯). В свою очередь каждый высотный класс модет быть представлен в виде числа от 0 до 11. Напишите функцию pitchClass, которая по переданному в нее символьному обозначению высотного класса возвращает его числовое обозначение.
Ноты представлены 7 символами: A-G. Соответствующие числовые обозначения для них:
<b>C:0</b>,
<b>D:2</b>,
<b>E:4</b>,
<b>F:5</b>,
<b>G:7</b>,
<b>A:9</b>,
<b>B:11</b>

<br><br>Поэтому функция pitchClass('D') вернет 2.
Знак # указывает на то, что требуется взять на одну ноту выше, чем та, рядом с которой он стоит. То есть, С# будет иметь значение 1, а F# - 6. Символ b - противоположен по смыслу, и означает, что взять надо на ноту ниже.  Для Cb - 11, Для Fb - 4.

