<q><p>Задание 4</p></q>

Напишите рекурсивную функцию, которая будет переворачивать переданную ей строку задом наперед.

<pre>
	<code class="python">

reverse("hello world"); #dlrow olleh
	</code>
</pre>