<q><p>Задание 6</p></q>

Напишите функцию sum_of_n, которая принимает на вход число n. Это число целое, но может быть как положительным, так и отрицательным. Функция возвращает массив из abs(n) + 1 элементов. В массиве содержится арифметическая последовательность чисел, состоящая из результатов сложения элементов от нуля до исходного числа включительно. Например:

<pre>
	<code class="python">

sum_of_n(5)     #[0, 1, 3, 6, 10, 15]
sum_of_n(-5)    #[0, -1, -3, -6, -10, -15]
    </code>
</pre>