<q><p>Задание 3</p></q>

<p>
    Напишите функцию, которая будет возвращать переданное в нее число в перевернутом виде. Например:
</p>

<pre>
	<code class="javascript">
descendingOrder(0) // => 0
descendingOrder(145263) // => 654321
descendingOrder(1254859789) // => 9875543221
	</code>
</pre>