<p><q>JavaScript</q></p>

<ol>
    <li>Динамическое управление содержимым веб-страницы:
        <a href="http://jquery.com" target="_blank">JQuery</a>,
        <a href="http://api.jquery.com/jQuery.ajax/" target="_blank">Ajax</a>
    </li>
    <li>Серверное программирование:
        <a href="https://nodejs.org/" target="_blank">Node.js</a>
    </li>
    <li>Браузерные игры: движки
        <a href="http://phaser.io/" target="_blank">Phaser</a>,
        <a href="http://www.limejs.com/" target="_blank">LimeJS</a>,
        <a href="http://threejs.org/" target="_blank">Three.js</a>
    </li>
    <li>Мобильная разработка:
        <a href="http://phonegap.com/" target="_blank">PhoneGap</a>,
        <a href="http://www.sencha.com/products/touch/" target="_blank">Sencha</a>
    </li>
</ol>