<p><q>Пример вакансии Lua-разработчика</q></p>

<a
        data-lightbox="lua-developer"
        href="/img/script-languages-ospu-introduction/lua-developer.png"
        data-title="Пример вакансии Lua-разработчика">
    <img width="500" src="/img/script-languages-ospu-introduction/lua-developer.png">
</a>