<p><q>Пример вакансии Perl-разработчика</q></p>

<a
        data-lightbox="perl-developer"
        href="/img/script-languages-ospu-introduction/perl-developer.png"
        data-title="Пример вакансии Perl-разработчика">
    <img width="500" src="/img/script-languages-ospu-introduction/perl-developer.png">
</a>