<p><q>Пример вакансии Javascript-разработчика</q></p>

<a
        data-lightbox="javascript-developer"
        href="/img/script-languages-ospu-introduction/javascript-developer.png"
        data-title="Пример вакансии Javascript-разработчика">
    <img width="500" src="/img/script-languages-ospu-introduction/javascript-developer.png">
</a>