<p><q>Количество страниц в Google</q></p>

<a
    data-lightbox="google-language-popularity"
    href="/img/script-languages-ospu-introduction/google-language-popularity.png"
    data-title="Количество страниц в Google">
    <img width="700" height="469" src="/img/script-languages-ospu-introduction/google-language-popularity.png">
</a>