<p><q>Рейтинг популярности</q></p>

<a
        data-lightbox="language-rating"
        href="/img/script-languages-ospu-introduction/language-rating.png"
        data-title="Рейтинг популярности">
    <img width="500" height="500" src="/img/script-languages-ospu-introduction/language-rating.png">
</a>