<p><q>Пример вакансии Python-разработчика</q></p>

<a
        data-lightbox="python-developer"
        href="/img/script-languages-ospu-introduction/python-developer.png"
        data-title="Пример вакансии Python-разработчика">
    <img width="500" src="/img/script-languages-ospu-introduction/python-developer.png">
</a>