<p><q>Недостатки</q></p>

<ol>
    <li>Большее время выполнения</li>
    <li>Требование дополнительных ресурсов для виртуальной машины, если она используется языком для интерпретации байт-кода</li>
    <li>Дебаг кода возможен только во время выполнения, и не всегда удается поймать все ошибки</li>
</ol>