<p><q>Python</q></p>

<ol>
    <li>Бакенд огромных игровых проектов:
        <a href="http://www.eveonline.com/ru/" target="_blank">Eve Online</a>,
        <a href="http://www.disney.co.uk/pirates-of-the-caribbean/fun-and-games/" target="_blank">Пираты карибского моря Онлайн</a>
    </li>
    <li>Производство фильмов и мультфильмов:
        <a href="http://www.youtube.com/watch?v=R6MlUcmOul8" target="_blank">Tears of steel</a>
    </li>
    <li>Игровые движки:
        <a href="https://www.panda3d.org/" target="_blank">Panda3d</a>,
        <a href="http://pygame.org/" target="_blank">PyGame</a>,
    </li>
    <li>Высоконагруженные и облачные приложения:
        <a href="https://www.afnic.fr/" target="_blank">Afnic</a>,
        <a href="https://cloud.google.com/appengine/docs" target="_blank">Google App Engine</a>
    </li>
</ol>