<p><q>Скриптовый язык</q></p>

<ul>
    <li>
        <a target="_blank" href="https://ru.wikipedia.org/wiki/%D0%A1%D1%86%D0%B5%D0%BD%D0%B0%D1%80%D0%BD%D1%8B%D0%B9_%D1%8F%D0%B7%D1%8B%D0%BA">
            Это высокоуровневый язык программирования
        </a>
        для написания сценариев (англ. script) — кратких описаний действий, выполняемых системой.
    </li>
    <li>
        Его основное отличие в том, что исходный код программы не преобразовывается в машинный код для непосредственного
        выполнения центральным процессором (как в компилируемых языках), а исполняется с помощью специальной программы-интерпретатора.
    </li>
    <li>
        Также может использоваться как специализированный язык для расширения возможностей других программ (командной оболочки, графических и тектовых редакторов), при создании плагинов.
    </li>
</ul>