<p><q>Lua</q></p>

<ol>
    <li>Скриптовый язык игровых движков:
        <a href="http://docs.cryengine.com/display/SDKDOC4/Lua+Scripting" target="_blank">Cryengine</a>,
        <a href="http://polycode.org/" target="_blank">Polycode</a>
    </li>
    <li>Разработка игр для мобильных платформ:
        <a href="http://coronalabs.com/" target="_blank">CoronaSDK</a>
    </li>
    <li>Аддоны для игр и плагины для софта:
        <a href="http://www.wowwiki.com/Lua" target="_blank">World of Warcraft</a>,
        <a href="http://wiki.wireshark.org/Lua" target="_blank">Wireshark</a>,
    </li>
    <li>Встраиваемый язык для микроконтроллеров:
        <a href="http://www.eluaproject.net/overview" target="_blank">eLua</a>,
        <a href="http://www.lua.org/wshop11/m2m-embedded-development-with-lua.pdf" target="_blank">M2M-разработка</a>
    </li>
</ol>