<p><q>Отличия от компилируемых языков</q></p>

<ul>
<li>На заре появления программный код выполнялся интерпретатором языка последовательно, строчка за строчкой.</li>
<li>Сейчас большинство языков сначала транслируются в промежуточный байт-код, и уже этот код исполняется интерпретатором.</li>
<li>Возможности скриптового языка обычно представлены в виде более высокого уровня абстрагирования от системы, чем в компилируемом языке программирования</li>
</ul>