<p><q>Преимущества</q></p>

<ol>
    <li>Кроссплатформенность</li>
    <li>Динамическая типизация</li>
    <li>Легкость написания кода</li>
    <li>Возможность постепенного написания и отладки программ</li>
</ol>