<p><q>Пример вакансии Ruby-разработчика</q></p>

<a
        data-lightbox="ruby-developer"
        href="/img/script-languages-ospu-introduction/ruby-developer.png"
        data-title="Пример вакансии Ruby-разработчика">
    <img width="500" src="/img/script-languages-ospu-introduction/ruby-developer.png">
</a>