<p><q>Пример вакансии PHP-разработчика</q></p>

<a
        data-lightbox="php-developer"
        href="/img/script-languages-ospu-introduction/php-developer.png"
        data-title="Пример вакансии PHP-разработчика">
    <img width="450" src="/img/script-languages-ospu-introduction/php-developer.png">
</a>