<p><q>Ruby</q></p>

<ol>
    <li>Web-разработка:
        <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>,
    </li>
    <li>Разработка системных приложений
        <a href="https://techbase.kde.org/Development/Languages/Ruby" target="_blank">QtRuby</a>
    </li>
    <li>Мобильная разработка:
        <a href="http://www.rubymotion.com/" target="_blank">RubyMotion</a>,
    </li>
</ol>