<p><q>PHP</q></p>

<p>Мощнейшие фреймворки для разработки веб&nbsp-&nbspприложений:
    <a href="http://symfony.com" target="_blank">Symfony</a>,
    <a href="http://www.yiiframework.com/" target="_blank">Yii</a>
    <a href="http://www.codeigniter.com/" target="_blank">CodeIgniter</a>
</p>