<q><p>Основные типы</p></q>

<ol>
    <li> nil (ничего)</li>
    <li> булевы значения (true/false)</li>
    <li> числа (numbers) — без деления на целые или вещественные</li>
    <li> строки </li>
    <li> функции — да, переменная может быть типа «функция»</li>
    <li> поток (thread)</li>
    <li> таблица (table)</li>
</ol>