<q><p>Альтернативное объявление функций</p></q>

<pre>
	<code class="lua">
lamp = {
    on = false
}

function lamp.turn_on(l)
    l.on = true
end

function lamp:turn_off()
    self.on = false
end
    </code>
</pre>