<q><p>Расширение функциональности</p></q>

<p>Родительские таблицы есть у таблиц и строк. У чисел, булевх типов и nil родительских таблиц нет</p>

<pre>
	<code class="lua">
-- получаем родительскую таблицу строки
s = getmetatable("")

-- переопределяем метод
s.__add = function(s1, s2) return s1..' ^_^ '..s2 end

-- проверяем
a = "hello"
b = "world"
print(a + b)
	</code>
</pre>