<q><p>Задача 1-5</p></q>

<p>
    Напишите функцию <b>quadratic(a, b, c)</b>, которая будет получать на вход коэффициенты
    квардратного уроавнения, решать его возвращать оба решения. Для вычисления квадратного корня
    воспользуйтесь функцией <b>math.sqrt()</b> На всякий случай напоминаю формулу решения:
</p>
        
<img height="200" src="http://0.tqn.com/d/create/1/S/i/9/9/-/Quadratic.formula.jpg">

<pre>
	<code class="lua">

	</code>
</pre>

<script type="text/javascript">
    $(document).ready(function() {
        $('pre code').each(function(i, block) {
            hljs.highlightBlock(block);
        });
    });
</script>