<q><p>Специальные функции - 1</p></q>

<pre>
	<code class="lua">
--арифметические операции над таблицей
__add(a, b)     __sub(a, b)     __div(a, b)
__mul(a, b)     __mod(a, b)     __pow(a, b)

-- унарная операция «минус», например (x = -x)
__unm(a)

-- результат сравнения (<, <=, ==)
__lt(a, b)      __le(a, b)      __eq(a, b)

-- размерность элемента (#a)
__len(a)
	</code>
</pre>