<q>
    <p>Функции как переменные и как аргументы</p>
</q>
<pre>
	<code class="lua">
a = function(x) return x * 2 end

function apply(tbl, funct)
    result = {}
        for k, v in pairs(tbl) do result[k] = funct(v) end
    return result
end

t = {1, 3, 5}

for _,v in pairs(apply(t, a)) do print(v) end
	</code>
</pre>