<q>
    <p>Сокращенная запись</p>
</q>

<pre>
	<code class="lua">
lamp = {}
lamp.on = false
lamp.turn_on = function(lamp) lamp.on = true end
lamp.turn_off = function(lamp) lamp.on = false end

lamp:turn_on() -- общепринятая запись
print(lamp.on)

lamp.turn_off(lamp) -- это тоже правильно
print(lamp.on)

lamp["turn_on"](lamp) -- и это
print(lamp.on)
	</code>
</pre>