<q><p>Объекты = функции + таблицы</p></q>

<pre>
	<code class="lua">
lamp = { on = false }

function turn_on(l)
    l.on = true
    print (l.on)
end

function turn_off(l)
    l.on = false
    print (l.on)
end

turn_on(lamp)
turn_off(lamp)
	</code>
</pre>