<q>Цикл со счетчиком</q>

<pre>
	<code class="lua">
for i = 1, 10 do
    print(i)
end
    </code>
</pre>

<q>Цикл со счетчиком и шагом</q>
<pre>
	<code class="lua">
for i = 1, 10, 2 do
    print(i)
end
    </code>
</pre>