<q>Аналог switch/case</q>

<pre>
	<code class="lua">
-- сокращенная форма if/elseif/end (вместо switch/case)
a = 7

if a == 0 then
    print("zero")
elseif a == 1 then
    print("one")
elseif a == 2 then
    print("two")
else
    print("other")
end
    </code>
</pre>