<q><p>Области видимости</p></q>

<p>
    Все переменные в Lua при создании являются глобальными. Если требуется создание локальной переменной,
    используется ключевое слово <b>local</b>
</p>

<pre>
	<code class="lua">
a = 10

function fu()
    print('Доступ к глобальной переменной a = '..a)
    local b = 120
end

fu()
-- Ошибка доступа к несуществующей переменной b
print('Попытка доступа к лок. переменной b = '..b)
	</code>
</pre>