<q>
    <p>Функции с переменным количеством аргументов</p>
</q>

<pre>
	<code class="lua">
function sum(...)
    s = 0
    local arg = {...} --грязный хак :)
    --[[ в функции обращаются к аргументам,
    как к таблице "arg" ]]--
    for index, value in pairs(arg) do
        s = s + value
    end
    return s
end

print(sum(1, 2, 3)) -- вернет 6
print(sum(1, 2, 3, 4)) -- вернет 10
	</code>
</pre>