<q>
    <p>Функции с несколькими аргументами</p>
</q>

<pre>
	<code class="lua">
function swap(a, b)
    return b, a
end

x, y = swap(x, y)
-- Это можно сделать и без функции:
x, y = y, x
-- Если функция возвращает несколько аргументов,
-- а они вам не нужны - игнорируйте их с помощью
-- специальной переменной-подчеркивания "_"
a, _, _, d = some_function()
	</code>
</pre>