<p>
    <q>Интерпретатор Lua</q>
</p>

<p>
    Для Linux: <i>sudo apt-get install lua5.2</i>
</p>
<p>
    <a href="http://sourceforge.net/projects/luabinaries/files/5.1.5/Windows%20Libraries/Static/lua-5.1.5_Win32_vc12_lib.zip/download" target="_blank">Для Windows</a>
</p>
<p>
    <a href="http://repl.it/languages/Lua" target="_blank">Онлайн-интерпретатор</a>
</p>

