<q><p>Специальные функции - 2</p></q>

<pre>
	<code class="lua">
-- конкатенация элементов (a..b)
__concat(a, b)

-- обращение к a[i], если его не существует
__index(a, i)

-- создание "a[i] = v"
__newindex(a, i, v)

-- Удаление объекта при сборке мусора
__gc(a)

	</code>
</pre>