<q><p>Обработка ошибок</p></q>

<pre>
	<code class="lua">
function f(x, y)
    if x>y then
        error("failed to do somthing")
    end
end

status, err = pcall(f, 10, 4) -- f:функция, x-y: ее аргументы
if not status then
    print('achtung!')
    print(err)
end
	</code>
</pre>