<q><p>Задача 1-4</p></q>

<p>Напишите 3 программы, каждая из которых будет подсчитывать сумму всех нечетных чисел от 99 до 1</p>
<ol>
    <li>Решайте задачу с ипользованием трех видов циклов: <b>while</b>, <b>for</b> и <b>repeat</b></li>
    <li>
        На каждом шаге программа должна выводить текущее число, а затем сумму этого числа и всех предыдущих, например:<br>
        <b>99</b><br>
        99<br>
        <b>97</b><br>
        196<br>
    </li>
</ol>

<pre>
	<code class="lua">

	</code>
</pre>