<q><p>Наследование</p></q>

<p>В Lua для этого есть понятие мета-таблицы, т.е. таблицы-предка. У каждой таблицы есть одна таблица-предок, и дочерняя таблица умеет делать все, что умеет предок.</p>

<pre>
	<code class="lua">
superlamp = { brightness = 100}

-- указываем родительскую таблицу
setmetatable(superlamp, lamp)
--устанавливаем наследование
lamp.__index = lamp

-- и ее методы теперь доступны
superlamp:turn_on()
superlamp:turn_off()
	</code>
</pre>