<p>
    <q>Lua пригодится:</q>
</p>

<ol>
    <li>Если вы геймер (плагины для World of Warcraft и множества других игр)</li>
    <li>Если вы пишете игры (очень часто в играх движок пишут на C/C++, а AI — на Lua)</li>
    <li>Если вы системный программист (на Lua можно писать плагины для nmap, wireshark, nginx и других утилит)</li>
    <li>Если вы embedded-разработчик (Lua очень быстрый, компактный и требует очень мало ресурсов)</li>
</ol>

