<q><p>Что построчно выведет следующий код и почему? </p></q>

<pre>
	<code class="lua">
if nil then print ("true") else print ("false") end

if 0 then print ("true") else print ("false") end

if "" then print ("true") else print ("false") end

if false then print ("true") else print ("false") end
	</code>
</pre>