<q><p>Арифметические</p></q>

<ol>
    <li> + (сложение),</li>
    <li> - (вычитание),</li>
    <li> * (умножение),</li>
    <li> / (целая часть от деления),</li>
    <li> % (остаток от деления),</li>
    <li> ^ (возведение в степень),</li>
</ol>