<q><p>Сравнение</p></q>

<ol>
    <li> < (меньше)</li>
    <li> > (больше)</li>
    <li> == (равно)</li>
    <li> >= (больше или равно)</li>
    <li> <= (меньше или равно)</li>
    <li><b> ~= (не равно)</b></li>
</ol>