<q><p>Таблицы</p></q>

<p>
    Таблица — это очень изящная структура данных, она сочетает в себе свойства массива, хэш-таблицы («ключ»-«значение»), структуры, объекта.
</p>

<pre>
	<code class="lua">
-- Пример таблицы как массива:
a = {1, 2, 3} -- массив из 3-х элементов
print('Второй элемент таблицы a - '..a[2])
-- выведет "2", потому что индесы считаются с 1

a = {} -- пустая таблица
a[1] = 1
a[3] = 5

print('Новый первый элемент таблицы a - '..a[1])
	</code>
</pre>